body{
    background-color: rgb(77, 61, 75);
    margin: 0;
    
}
.carousel-inner{
    height:400px;
    width: 600px;
    justify-content: center;
}
#imgcarrusel{
    height:400px;
    width: 600px;
}

.ponerlaEnELMedio{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ponerlaEnELMedio3{
    display: flex;
    justify-content: left;
    align-items: left;

}

.ponerlaEnELMedio2{

    justify-content: center;
    align-items: center;
}

h1{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 500%;
    color:white;
}
h4{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color:white;
}
.container1{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    font-family: 'Staatliches', cursive;
    font-size: larger;
    width: 200px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 12px;
}
button:hover
{
    transition-duration: 0.4s;
	background-color: #008cff; /* Green */
    color: rgb(250, 250, 250);
    
}
label{
    color: white;
    font-family: 'Staatliches', cursive;
}

.contenido{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
    overflow: hidden;

}


.tabla2{
	width: 300px;
	background-color: rgb(107, 106, 105);
   	
	color:white;
	text-align: left;
	margin: 0 auto;
}
th, td
{
    border: solid rgb(10, 179, 209) 3px;
    padding:20px;
}

thead{
width: auto;
background-color: rgb(107, 106, 105);
border-bottom: solid 5px rgb(45, 52, 58);
color:white;

}

th{
    background-color: slateblue;
}

td:hover{
    background-color: rgb(27, 26, 34);
    color: azure;
}
h2{
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    color: white;
}

.cerrar-sesion{
    display: flex;

}

p{
    padding: 5%;
    font-size: larger;
    color:rgb(218, 216, 216);
}
.Header{
    border: #313131 solid 3px;
    background-color: rgb(134, 134, 134);
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10% 33%;
    width: 33%;
    height: 200px;
}

.Boton-index{
    margin-top: 7%;
}

.Nav-bar{
    display: flex;
    min-height: 70px;
    background-color: #313131;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
.logo{
    display: flex;
    padding-left: 10px;
    align-items: center;
}
.logo-img{
    padding-right: 15px;
    height: 50px;
}

@media (max-width:1000px){
    .Nav-bar{
        flex-direction: column;
    }
    .ponerlaEnELMedio{
        padding:10px 0px ;
    }
}

.form-com{
    border: #008cff solid 3px;
    margin:  0% 33%;
    justify-content: center;
    align-items: flex-start;

}
.comentario{
    width: 500px;
    height: 50px;
}