body
{
		
		height: 800px;
		background-color:rgb(99, 99, 99);
		justify-content: center;
}

.conte
{

	width: auto;
	padding-top: 250px;
	justify-content: center;
	height: 200px;
	margin: auto;
	display: flex;
	flex-direction: row;
}

.lol
{
	transition-duration: 0.4s;
	border-radius: 12px;
	height: 30px;
	width: 300px;
}
.lol:hover
{
	background-color: #5062c9; /* Green */
  color: rgb(250, 250, 250);
}
